@use '../SASS/customs' as c;

.side-bar {
  height: 600px;
  background-color: c.$gray-100;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  p {
    margin: 0;
  }

}