@use '../../../SASS/customs' as c;

.newOrders-table {
  .orders-formContainer {
    width: 200px;

    // select, form {
    //   width: 100%;
    // }
  }
  .table-container{
    min-height: 650px;
  }

  table {
    min-width: 560px;
    overflow: auto;
  }

  .table-btn {
    button {
      background-color: c.$info;
      border: none;
      
    &:hover {
        background-color: c.$primary;
      }
    }
  }

  .col-xl-2 {
    width: 160px !important;
  }
  
}